{% extends 'base.html' %} 

{% block content %}

<div class="container d-flex align-items-center mb-5">
   
        <div class="h3">Browse Events</div>
        {% if is_admin %}
      <a href="{{ url_for('addevent') }}" class="btn btn-primary ms-auto add-event ">Add Event</a>
      {% else %}
      <div></div>
 {% endif %}
</div>

  <section class=portfolio id=Events>
    <div class=container>
      <ul class="d-flex justify-content-center" id=portfolio-flters>
        <li class="filter-all-btn filter-active" >All
        <li class="filter-past-btn">Past Events
        <li class="filter-ongoing-btn">Ongoing Events
        <li class="filter-upcoming-btn">Upcoming Events
      </ul> 
      </div>
    </div>
  </section>

<div class="container mt-5">
    <div class="row card-container ">
    
    {% for i in event %}
    {% if i['date'] > today_date %}
    <div class=" item col-12 col-md-6 col-lg-4 col-xl-3 filter-upcoming">
    {% elif i['date'] == today_date%}
    <div class=" item col-12 col-md-6 col-lg-4 col-xl-3 filter-ongoing">
    {% elif today_date > i['date']  %}
    <div class=" item col-12 col-md-6 col-lg-4 col-xl-3 filter-past">
    {% endif %}
      <div class="card  card-flip" id="card">
        <div class="cardbox card-inner card-front">
            <img src="{{ i['poster']}}" alt="Event Image" class="event-poster">
            <div>
                <div class="card-header">
                    <h3 class="text-capitalize">{{ i['name']}}</h3>
                </div>
                <div class="card-body">
                    <div  class="d-flex flex-column" style=" gap: 10px;">
                        <div>
                            <i class="fa-solid fa-calendar"></i>
                            {{ i['date'] }}
                        </div>
                        <div>
                            <i class="fa-solid fa-clock"></i>
                            {{ i['time'] }}
                        </div>
                        <div>
                            <i class="fa-solid fa-location"></i>
                            {{ i['venue'] }}
                        </div>
                    </div>
                    <br>

                    <div class="d-flex gap-2">
                      {% if is_admin == True %}
                      <a href="{{ url_for('edit_event',id=i['_id'])}}"  class="btn btn-primary edit">Edit</a>
                      <a href="{{ url_for('export',id=i['_id'])}}" class="btn">Export CSV</a>
                      {% else %}
                      <button class="button learn-more-btn">Learn More</button>
                      <a href="{{ url_for('event_register',id=i['_id']) }}" class="btn btn-info register-btn" style="color: white;">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="cardbox card-inner d-none card-back">
          <div class="card-body">
            <div  class="d-flex flex-column text-capitalize" style=" gap: 10px;">
                {% if i['desc'] %}
                <p class="event-desc">
                    <strong>Description: </strong><br>
                    {{i['desc']}}
                </p>
                {% endif %}
                {% if i['eligibility'] %}
                <p class="event-eligibility">
                    <strong>Eligibility:</strong><br>
                    {{i['eligibility']}}
                </p>
                <p class="event-type">
                  <strong>Event Type:</strong><br>
                  {{i['type']}}
                </p>
                {% endif %}
                {% if i['awards'] %}
                <p class="event-awards">
                    <strong>Awards: </strong><br>
                    {{i['awards']}}
                </p>
                {% endif %}
                {% if i['date'] %}
                <p class="event-date">
                    <strong>Date:</strong>
                    {{ i['date']}}
                </p>
                {% endif %}
                {% if i['deadline'] %}
                <p class="event-deadline">
                    <strong>Registration Deadline:</strong>
                    {{ i['deadline']}}
                </p>
                {% endif %}
                {% if i['rlimit'] %}
                <p class="event-limit">
                    <strong>Registration Limit:</strong>
                    {{ i['rlimit']}}
                </p>
                {% endif %}
                {% if i['contact']%}
                <p class="event-cord">
                    <strong>For further queries, contact:</strong><br>
                     {{ i['contact'] }}
                </p>
                {% endif %}
                
                <a  class="flip-button" style="cursor: pointer;">Go back</a>

                <p>
                    <a href="{{ url_for('event_register',id=i['_id']) }}" class="btn btn-info register-btn" style="color: white;">Register</a>
                </p>
                
            </div>
            

          </div>
        </div>
      </div>
      </div>
      {% endfor %}   
      <div class="no-items-msg d-none text-center">No items to show :(</div>  
    </div>
  </div>
{% endblock %}