{% extends 'base.html' %} 

{% block content %}

<div class="container d-flex align-items-center mb-5">
   
        <div class="h1">Events</div>
        {% if var %}
      <a href="{{ url_for('addevent') }}" class="btn btn-primary ms-auto add-event ">Add Event</a>
{% else %}
      <a href="{{ url_for('userlogin') }}" class="btn btn-primary ms-auto add-event ">Add Event</a>
      {% endif %}
</div>




  <section class=portfolio id=Events>
    <div class=container data-aos=fade-up>
      
      <ul class="d-flex justify-content-center" data-aos=fade-up data-aos-delay=100 id=portfolio-flters>
        <li data-filter=* class=filter-active>All
        <li data-filter=.filter-past>Past Events
        <li data-filter=.filter-ongoing>Ongoing Events
        <li data-filter=.filter-upcoming>Upcoming Events
      </ul>
     
        
        
      </div>
    </div>
  </section>

<div class="container mb-3">
    <div class="row">


   {% for i in event %}
   <div class="card col-lg-6 ">
    <div  class="d-flex flex_dir_card card-inner">
        <img src="{{ i['poster']}}" alt="Event Image" class="event-poster">
        <div>
            <div class="card-header">
                <h3 class="text-capitalize">{{ i['name']}}</h3>
            </div>
            <div class="card-body">
                <p>Event Description</p>
                <div  class="d-flex flex_dir" style=" gap: 15px;">
                    <div>
                        <i class="fa-solid fa-calendar"></i>
                        {{ i['date'] }}
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        {{ i['time'] }}
                    </div>
                    <div>
                        <i class="fa-solid fa-location"></i>
                        {{ i['venue'] }}
                    </div>
                </div>
                <br>
                <div style="display: flex;">
                    <button class="button">Learn More</button>
                    {% if var %}
        <a href="#" class="btn btn-primary edit">Edit</a>
        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
 
  {% endfor %} 

  </div>
</div>

{% endblock %}