{% extends 'base.html' %} {% block content %}
<div class="container">
  <!-- Team Registration Form -->
  <form action="{{ url_for('event_register', id=event['_id']) }}" method="POST" >
    <h3 class="mb-4">Registration Form</h3>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {{ form.csrf_token }}
  
            <div class="form-group mb-3">
              {{ form.team_lead_name.label(class="form-label") }}
              {{ form.team_lead_name(class="form-control") }}
            </div>
            
            <div class="form-group mb-3">
              {{ form.team_lead_email.label(class="form-label") }}
              {{ form.team_lead_email(class="form-control") }}
            </div>
            
            <div class="form-group mb-3">
              {{ form.team_lead_branch.label(class="form-label") }}
              {{ form.team_lead_branch(class="form-control") }}
            </div>
            
            <div class="form-group mb-3">
              {{ form.team_lead_year.label(class="form-label") }}
              {{ form.team_lead_year(class="form-control") }}
            </div>
            
            <div class="form-group mb-3">
              {{ form.team_lead_section.label(class="form-label") }}
              {{ form.team_lead_section(class="form-control") }}
            </div>
            
            <div class="form-group mb-3">
              {{ form.team_lead_reg_num.label(class="form-label") }}
              {{ form.team_lead_reg_num(class="form-control") }}
            </div>
            
            <div class="form-group mb-3">
              {{ form.team_size.label(class="form-label") }}
              {{ form.team_size(class="form-control") }}
            </div>
            
            <div id="team_members_fields">
                {% for i in range(2) %}
                <div class="form-group mb-3">
                  <label for="team_member_{{ i }}" class="form-label">Team Member Registration Number</label>
                  <input type="text" id="team_member_{{ i }}" name="team_member_{{ i }}" class="form-control">
                  {{ form.team_members[i].csrf_token }}
                </div>
                {% endfor %}
            </div>
            
            <div class="form-group mb-3">
              {{ form.submit(class="btn btn-primary") }}
            </div>
      </div>
    </div>
  </form>
</div>
  
{% endblock %}
