{% extends 'base.html' %} 
{% block content %}

<form action="{{ url_for('userlogin')}}" method="post">
        <div class="form-group mb-3">
        <label for="email" class="mb-2">Email-Id:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Please enter your Email"></div>
        <div class="form-group mb-3">
        <label for="password" class="mb-2">Password:</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Enter your password"></div>
        <button class="btn btn-primary user-login mt-2" type="submit">Login</button>

  </form>
  <div class="dropdown mt-3"></div>
  <a class="item" href="{{  url_for('userregister')  }}">New around here? Sign up</a>
  <!-- <a class="dropdown-item" href="#">Forgot password?</a> -->
</div>
 
{% endblock %}